<div id="animal">
  <h1>Animaux</h1>

  <div class="divider"></div>

  <div class="container contentSelect">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="animalSelect">nom de l'Animal</label>
      </div>
      <select class="custom-select" (blur)= "returnName($event)">
        <option *ngFor="let name of animalnameTable;let i= index">{{ name }}</option>
      </select>
    </div>
  </div>

  <div class="divider"></div>

  <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">noAnimal</th>
      <th class="contentCell">noClinique</th>
      <th class="contentCell">noProprietaire</th>
      <th class="actionCell">Nom</th>
      <th class="actionCell">typeAnimal</th>
      <th class="actionCell">espece</th>
      <th class="actionCell">taille</th>
      <th class="actionCell">poids</th>
      <th class="actionCell">description</th>
      <th class="actionCell">dateInscription</th>
      <th class="actionCell">etatActuel</th>
      <th class="actionCell">Options</th>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animalTable; let i =index">

        <td class="contentCell">{{animal.noanimal}}</td>

        <td class="contentCell" contenteditable="false" >
          {{animal.noclinique}}
          <select (blur)="this.changeAnimalnoCliniqueInput($event,i)"> 
            <option *ngFor="let clinique of cliniqueTable; let i = index" > {{clinique.noclinique}}</option>
          </select> 
        </td>

        <td class="contentCell" contenteditable="false" > 
          {{animal.noproprietaire}}
          <select (blur)="this.changeAnimalnoProprietaireInput($event,i)">
            <option *ngFor="let proprio of proprietaireTable; let i = index" > {{proprio.noproprietaire}} </option>
          </select> 
        </td>
        
        <td class="contentCell" contenteditable="true" (blur)="changeAnimalNom($event, i)">{{animal.nom}}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeAnimalTypeAnimal($event, i)" >{{animal.typeanimal}}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeAnimalEspece($event, i)">{{animal.espece}}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeAnimalTaille($event, i)">{{animal.taille}}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeAnimalPoids($event, i)">{{animal.poids}}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeAnimalDescription($event, i)">{{animal.description}}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeAnimalDate($event, i)">{{animal.dateinscription.substring(0,10)}}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeAnimalEtatActuel($event, i)">{{animal.etatactuel}}</td>

         <td class="actionCell">
          <button type="button" class="submitbtn" (click)="updateAnimal(i)"><i class="fa fa-edit"></i></button>
          <button type="button" class="deletebtn" (click)="deleteAnimal(animal.noanimal)"><i class="fa fa-trash-o"></i></button>
        </td> 
      </tr>

      <tr class="blank_row">
        <td class="contentCell" contenteditable="true" placeholder="Nouveau Animal" #newanimalnb></td>

        <td class="contentCell" contenteditable="true" placeholder="Nouvelle Clinique" #newClinique >
          <select (blur)="selectednoClinique($event)">
            <option *ngFor="let clinique of cliniqueTable; let i = index" > {{clinique.noclinique}} </option>
          </select>
        </td>

        <td class="contentCell" contenteditable="true" placeholder="Nouvelle proprietaire" #newProprietaire>
          <select (blur)="selectednoProprio($event)">
            <option *ngFor="let proprio of proprietaireTable; let i = index" > {{proprio.noproprietaire}} </option>
          </select>
        </td>

        <td class="contentCell" contenteditable="true" placeholder="Nouveau nom" #newNom></td>
        <td class="contentCell" contenteditable="true" placeholder="Nouveau typeanimal" #newtypeanimal></td>
        <td class="contentCell" contenteditable="true" placeholder="Nouvelle espece" #newtypeespece></td>
        <td class="contentCell" contenteditable="true" placeholder="Nouvelle taille" #newtaille></td>
        <td class="contentCell" contenteditable="true" placeholder="Nouveau poids" #newpoids></td>
        <td class="contentCell" contenteditable="true" placeholder="Nouvelle description" #newdescription></td>
        <td class="contentCell" contenteditable="true" placeholder="Nouvelle dateinscription" #newdateinscription></td>
        <td class="contentCell" contenteditable="true" placeholder="Nouveau etatactuel" #newetatactuel></td>
        <td class="contentCell"></td>
    </tr>

    </tbody>
  </table>

  <button type="button" class="btn" (click)="this.insertAnimals()">+</button> 

</div>
