<div id="Facture">
  <h1 align ='center'>Facture</h1>

  <div class="divider"></div>

  <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">noProprietaire</th>
      <th class="contentCell">noAnimal</th>
      <th class="contentCell">noEmploye</th>
      <th class="actionCell">dateFacture</th>
      <th class="actionCell">listeTraitement</th>
      <th class="actionCell">total</th>
      <th class="actionCell">modeDePaiement</th>
      <th class="actionCell">paiementEffectuer</th>
      <th class="actionCell">Options</th>
    </thead>
    <tbody>
      <tr *ngFor="let facture of factureTable; let i =index">

        <td class="contentCell" contenteditable="false">{{facture.noproprietaire}}</td>
        <td class="contentCell" contenteditable="false">{{facture.noanimal}}</td>
        <td class="contentCell" contenteditable="false">{{facture.noemploye}}</td>
        <td class="contentCell" contenteditable="false">{{facture.datefacture.substring(0,10)}}</td>
        <td class="contentCell" contenteditable="false">{{facture.listetraitement}}</td>
        <td class="contentCell" contenteditable="false">{{facture.total}}</td>
        <td class="contentCell" contenteditable="false">{{facture.modedepaiement}}</td>
        <td class="contentCell" contenteditable="false">{{facture.paiementeffectuer}}</td>

        <td class="actionCell">
          <button type="button" class="deletebtn" (click)="deleteFacture(facture.noproprietaire,facture.noanimal,facture.noemploye)"><i class="fa fa-trash-o"></i></button>
        </td>  
      </tr>

      <tr class="blank_row">
        <td class="contentCell" contenteditable="true" placeholder="Nouveau Proprietaire" #noproprietaire></td>
        <td class="contentCell" contenteditable="true" placeholder="Nouvelle animal" #noanimal></td>
        <td class="contentCell" contenteditable="true" placeholder="Nouvelle employe" #noemploye></td>
        <td class="contentCell" contenteditable="true" placeholder="Nouveau datefacture" #datefacture></td>
        <td class="contentCell" contenteditable="true" placeholder="Nouveau listeTraitement" #listetraitement></td>
        <td class="contentCell" contenteditable="true" placeholder="Nouvelle total" #total></td>
        <td class="contentCell" contenteditable="true" placeholder="Nouvelle modedePaiement" #modedepaiement></td>
        <td class="contentCell" contenteditable="true" placeholder="Nouveau paiementeffetuer?" #paiementeffectuer></td>
        <td class="contentCell"></td>
    </tr>

    </tbody>
  </table>

  <button type="button" class="btn" (click)="this.insertFactures()">+</button>

</div>
