<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand title" href="/">INF3710 - TP3</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/animals">Animals</a>
      <a class="nav-item nav-link active" routerLink="/traitements"> Traitements</a>
      <a class="nav-item nav-link active" routerLink="/guests">Guests</a>
      <a class="nav-item nav-link active" routerLink="/factures">Factures</a>
    </div>
  </div>
</nav>

<div class="home" *ngIf="route == ''">
  <p>
    Bienvenu<br />a<br /><span class="hotel1">VetoSansFrontiere</span>
  </p>
  <button type="button" class="btn" routerLink="/animals">Soigner votre animal &#10140;</button>
  <h3> Par John Maliha et Johnny Khoury</h3>
</div>

<router-outlet></router-outlet> 